@import "tailwindcss";

/* For Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 15px;         /* scrollbar width */
}

::-webkit-scrollbar-track {
  background: #1E1E1E;      /* track (background) */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #A374FF; /* purple → cyan gradient */
  border-radius: 10px;
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #A374FF #1E1E1E; /* thumb color | track color */
}

.translate-x-101 {
  transform: translateX(101%);
}

/* Marquee animation keyframes */
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* Marquee animation class */
.animate-marquee {
  animation: marquee 15s linear infinite;
}
